@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin: 0;
}

.logo {
  padding-left: 10px;
  padding-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s; /* Voeg een overgang toe */
}

nav a {
  padding: 10px 15px;
  position: relative;
}

/* Hover-effecten voor nav-links */
nav a:hover {
  color: white;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Onderstreepte animatie */
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: black;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

.above {
  background-color: #aeaf86;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: solid black 2px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 40px;
}

.language-switch a {
  margin-right: 0; /* Verwijder de marge tussen NL/ en ENG */
}

.links a:not(:last-child) {
  margin-right: 0; /* Geen ruimte tussen NL/ en ENG */
}

.login-button {
  display: block;
  margin-left: 30px; /* deze waarde aanpassen voor de gewenste afstand */
  background-color: #aeaf86;
  border: 2px solid black;
  text-transform: uppercase;
  padding: 5px 20px;
}

.login-button:hover {
  background-color: black;
  color: white;
}

.nav-links {
  display: none; /* Verberg standaard de nav-links */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aeaf86;
  padding: 20px 0px;
  border-bottom: solid black 2px;
  font-size: 12px;
  font-weight: 400;
}

/* Verberg de nav-links boven 800px */
@media (min-width: 800px) {
  nav {
    display: none;
  }
}

main {
  background-image: url(../photos/ddd.png);
  background-size: cover; /* Zorgt ervoor dat de afbeelding de volledige container bedekt */
  background-position: center;
  min-height: 100vh; /* Zorgt ervoor dat de container minimaal de volledige hoogte van het scherm heeft */
  max-width: 100%;
}

h1 {
  color: white;
  font-size: 74px;
  text-transform: uppercase;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
  padding-top: 1em;
  padding-left: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

main a {
  margin-left: 30px; /* Pas deze waarde aan voor de gewenste afstand */
  background-color: white;
  font-size: 20px;
  border: 1px solid black;
  padding: 8px 10px;
  border-radius: 16px;
  margin-top: 20px;
}

main a:hover {
  background-color: black;
  color: white;
}

footer a {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

footer {
  padding-left: 10px;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 50px;
}

footer p {
  color: white;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.linksFooter {
  display: flex;
  flex-direction: column; /* Standaard verticale stapeling */
  gap: 20px; /* Ruimte tussen de kolommen */
}

.linksFooter .column {
  display: flex;
  flex-direction: column; /* Plaatst items onder elkaar */
  gap: 10px; /* Ruimte tussen de links binnen een kolom */
}

.linksFooter a {
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

@media (min-width: 800px) {
  .nav-links {
    display: flex; /* Toon de nav-links boven 800px */
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Verdeel de ruimte gelijkmatig */
    width: 100%; /* Zorg ervoor dat de links-container de volledige breedte gebruikt */
  }

  .links .language-switch {
    order: 0; /* Zet de taalwissel als eerste */
  }

  .links a {
    margin: 0 10px; /* Voeg wat ruimte toe tussen de links */
  }

  .links a:first-child {
    order: 0; /* Zet NL/ als eerste */
  }

  .links .nav-links {
    order: 1; /* Zet de nav-links in het midden */
  }

  .links .login-button {
    order: 2; /* Zet de login-button als laatste */
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
  }

  h1 {
    padding-top: 10px;
    padding-left: 16px;
    font-size: 180px;
  }
}

@media (min-width: 992px) {
  .nav-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: end;
    gap: 30px;
  }

  .links .login-button {
    border-radius: 16px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .logo {
    padding-left: 30px;
  }

  .language-switch {
    padding-left: 40px;
  }

  h1 {
    padding-top: 80px;
    padding-left: 60px;
  }

  .button {
    padding-left: 45px;
  }

  .button a {
    padding: 10px 50px;
  }

  .above {
    border-bottom: 1px solid white;
  }
}

@media (min-width: 800px) {
  .event-link::after {
    content: "Startevent";
    display: inline;
  }

  .event-link {
    visibility: hidden;
  }

  .event-link::after {
    visibility: visible;
  }
}

@media (min-width: 800px) {
  .linksFooter {
    flex-direction: row; /* Plaatst de kolommen naast elkaar */
    justify-content: space-between; /* Verspreid kolommen gelijkmatig */
  }

  .linksFooter .column {
    align-items: flex-start; /* Links uitlijnen binnen kolommen */
  }
}

/* Verberg de Log in knop standaard */
.newButton {
  display: none;
}

@media (min-width: 800px) {
  footer .newButton {
    display: block !important; /* Forceer de knop zichtbaar te maken */
  }
}
